@charset "UTF-8";
@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

@keyframes focus {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

* {
  margin: 0;
  /* globální reset aby se začalo od nuly */
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  backface-visibility: hidden;
  scroll-behavior: smooth; }

body {
  position: relative; }

.container {
  max-width: 75vw;
  margin: 0 auto; }

#welcome {
  height: 100vh;
  width: 100%;
  position: relative; }
  #welcome #louka {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    object-fit: cover;
    z-index: -1; }
  #welcome .text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: space-around;
    height: 100%; }

.icon {
  z-index: 3;
  position: fixed;
  padding: 0.4rem;
  top: 3rem;
  left: 3rem;
  border: 2px solid black;
  border-radius: 50%;
  animation: pulse 2s infinite;
  background-color: #8d8d87;
  opacity: 0.5; }
  .icon__nota {
    width: 4rem;
    height: 4rem; }

.nadpis {
  font-family: "Ephesis", cursive;
  color: black;
  font-weight: 100;
  text-align: center;
  font-size: 20rem; }

.datum__circle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  z-index: 25; }
  .datum__circle::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #bcaea2;
    opacity: 0.6;
    animation: pulse 3s infinite; }
  .datum__circle::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #e5e7e8;
    opacity: 0.7; }
  .datum__circle .datum {
    font-family: "Ephesis", cursive;
    color: black;
    font-weight: 100;
    text-align: center;
    font-size: 2.8rem;
    letter-spacing: 3px;
    text-align: center;
    width: 30rem; }

.ourstory {
  height: 100vh;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #e3dad6;
  padding: 4rem; }
  .ourstory__photo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, calc(100vh / 2 - 6rem));
    gap: 3rem;
    position: relative; }
    .ourstory__photo--box {
      position: relative; }
    .ourstory__photo div:first-child {
      grid-area: 1 / 1 / 2 / 2; }
    .ourstory__photo div:nth-child(2) {
      grid-area: 1 / 2 / 2 / 3; }
    .ourstory__photo div:nth-child(3) {
      grid-area: 1 / 3 / 2 / 4; }
    .ourstory__photo div:last-child {
      grid-area: 2 / 1 / 3 / 4; }
    .ourstory__photo--1, .ourstory__photo--2, .ourstory__photo--3, .ourstory__photo--4 {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 1;
      border-radius: 7px;
      box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5); }
    .ourstory__photo--text {
      display: flex;
      position: absolute;
      inset: 0;
      justify-content: center;
      align-items: center;
      font-family: "Montserrat", sans-serif;
      font-size: 1.8rem;
      font-weight: 400;
      text-align: center;
      border-radius: 7px;
      opacity: 0;
      background-color: #e3dad6;
      z-index: 3;
      transition: opacity 0.3s ease-in-out; }
      .ourstory__photo--box:hover .ourstory__photo--text {
        opacity: 0.8; }
  .ourstory__textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 0 8rem; }
    .ourstory__textbox--heading {
      font-family: "Ephesis", cursive;
      color: black;
      font-weight: 100;
      text-align: center;
      margin-top: 3rem;
      font-size: 13rem; }
    .ourstory__textbox--text {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: justify;
      font-size: 2rem;
      padding: 1rem; }

.engage {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row; }
  .engage__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    object-fit: cover;
    z-index: -1; }
  .engage__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 5rem;
    background-color: rgba(191, 191, 187, 0.671); }
    .engage__text--heading {
      font-family: "Ephesis", cursive;
      color: black;
      font-weight: 100;
      text-align: center;
      font-size: 10rem; }
    .engage__text--story {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: justify;
      font-size: 2rem;
      padding: 10rem; }
  .engage__photo {
    display: flex;
    flex-direction: column; }
    .engage__photo--box {
      display: flex;
      flex-direction: column;
      gap: 7rem;
      position: absolute;
      top: 10rem;
      right: 10rem;
      align-items: flex-end; }
    .engage__photo--1 {
      width: fit-content;
      border-radius: 7px;
      transition: all 0.15s ease-in-out;
      transform-origin: top right;
      height: 20rem; }
      .engage__photo--1:hover {
        transform: scale(3); }
    .engage__photo--2 {
      width: fit-content;
      border-radius: 7px;
      transition: all 0.15s ease-in-out;
      transform-origin: right;
      height: 20rem; }
      .engage__photo--2:hover {
        transform: scale(3); }
    .engage__photo--3 {
      width: fit-content;
      border-radius: 7px;
      transition: all 0.15s ease-in-out;
      transform-origin: bottom right;
      width: 20rem; }
      .engage__photo--3:hover {
        transform: scale(3); }

.engage2 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  background-color: #e3dad6;
  padding: 6rem; }
  .engage2__photo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, calc(100vh / 2 - 7.5rem));
    gap: 3rem; }
    .engage2__photo--pic {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 7px;
      box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5); }
  .engage2__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem; }
    .engage2__text--heading {
      font-family: "Ephesis", cursive;
      color: black;
      font-weight: 100;
      text-align: center;
      font-size: 10rem; }
    .engage2__text--story {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: justify;
      font-size: 2rem; }

.engage3 {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 3rem; }
  .engage3__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    object-fit: cover;
    z-index: -1; }
  .engage3__page {
    display: flex;
    flex-direction: column;
    background-color: rgba(229, 231, 232, 0.459); }
  .engage3__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem; }
    .engage3__text--heading {
      font-family: "Ephesis", cursive;
      color: black;
      font-weight: 100;
      text-align: center;
      font-size: 10rem; }
    .engage3__text--story {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: justify;
      font-size: 2rem;
      padding: 0 7rem;
      display: flex;
      flex-direction: row; }
      .engage3__text--story p {
        width: 50%;
        padding: 4rem; }
  .engage3__photo {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 270px);
    gap: 3rem; }
    .engage3__photo--pic {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 7px;
      box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5); }

.countdown {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  background-color: #92753e;
  border-radius: 30px;
  z-index: 10; }
  .countdown svg {
    fill: #bcaea2; }
  .countdown p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #bcaea2;
    padding: 1rem;
    margin-left: 1rem; }

.section-form {
  height: 100vh;
  width: 100%;
  position: relative; }
  .section-form__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    object-fit: cover;
    z-index: -1; }
  .section-form__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5rem; }
    .section-form__content a,
    .section-form__content a:link,
    .section-form__content a:visited,
    .section-form__content a:focus,
    .section-form__content a:hover {
      color: black;
      font-size: 5rem;
      text-decoration-thickness: 2px; }
