.engage2 {
  @include section-setup;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  background-color: $primary-color-light3;
  padding: 6rem;

  &__photo {
    @include grid-by-six;

    &--pic {
      @include pic-in-grid;
      box-shadow: $shadow-pic;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    &--heading {
      @include heading;
      font-size: 10rem;
    }

    &--story {
      @include story-text;
    }
  }
}
