.engage3 {
  @include section-setup;
  padding: 3rem;

  &__background {
    @include background-foto;
  }

  &__page {
    display: flex;
    flex-direction: column;
    background-color: $primary-color-light2-opacity;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem;

    &--heading {
      @include heading;
      font-size: 10rem;
    }

    &--story {
      @include story-text;
      padding: 0 7rem;
      display: flex;
      flex-direction: row;

      p {
        width: 50%;
        padding: 4rem;
      }
    }
  }

  &__photo {
    @include grid-rows-6;

    &--pic {
      @include pic-in-grid;
      box-shadow: $shadow-pic;
    }
  }
}
