.engage {
  @include section-setup;
  display: flex;
  flex-direction: row;

  @media (max-width: 1600px) {
    height: auto;
  }

  @media (max-width: 1366px) {
    grid-template-columns: 1fr;
  }

  &__background {
    @include background-foto;

    @media (max-width: 1600px) {
      height: 100%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 5rem;
    background-color: $background-text;

    @media (max-width: 1366px) {
      width: 100%;
    }

    @media (max-width: 576px) {
      padding: 4rem 0;
      gap: 0;
    }

    &--heading {
      @include heading;
      font-size: 10rem;

      @media (max-width: 768px) {
        font-size: 8rem;
      }

      @media (max-width: 576px) {
        font-size: 6rem;
      }
    }
    &--story {
      @include story-text;
      padding: 10rem;

      @media (max-width: 768px) {
        padding-top: 2rem;
      }

      @media (max-width: 576px) {
        padding: 4rem;
      }
    }
  }
  &__photo {
    display: flex;
    flex-direction: column;

    @media (max-width: 1366px) {
      display: none;
    }

    &--box {
      display: flex;
      flex-direction: column;
      gap: 7rem;
      position: absolute;
      top: 10rem;
      right: 10rem;
      align-items: flex-end;
    }
    &--1 {
      @include interactive-pic;
      transform-origin: top right;
      height: 20rem;
    }

    &--2 {
      @include interactive-pic;
      transform-origin: right;
      height: 20rem;
    }

    &--3 {
      @include interactive-pic;
      transform-origin: bottom right;
      width: 20rem;
    }
  }
}
