.engage {
  @include section-setup;
  display: flex;
  flex-direction: row;

  &__background {
    @include background-foto;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 5rem;
    background-color: $background-text;

    &--heading {
      @include heading;
      font-size: 10rem;
    }
    &--story {
      @include story-text;
      padding: 10rem;
    }
  }
  &__photo {
    display: flex;
    flex-direction: column;

    &--box {
      display: flex;
      flex-direction: column;
      gap: 7rem;
      position: absolute;
      top: 10rem;
      right: 10rem;
      align-items: flex-end;
    }
    &--1 {
      @include interactive-pic;
      height: 20rem;
    }

    &--2 {
      @include interactive-pic;
      height: 20rem;
    }

    &--3 {
      @include interactive-pic;
      width: 20rem;
    }
  }
}
