.ourstory {
  @include section-setup;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: $primary-color-light3;
  padding: 4rem;

  @media (max-width: 1600px) {
    height: auto;
  }

  @media (max-width: 1366px) {
    grid-template-columns: 1fr;
  }

  &__photo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, calc(100vh / 2 - 6rem));
    gap: 3rem;
    position: relative;

    @media (max-width: 1366px) {
      order: 2;
    }

    @media (max-width: 576px) {
      display: flex;
      flex-direction: column;
    }

    &--box {
      position: relative;
    }

    & div:first-child {
      grid-area: 1 / 1 / 2 / 2;
    }

    & div:nth-child(2) {
      grid-area: 1 / 2 / 2 / 3;
    }

    & div:nth-child(3) {
      grid-area: 1 / 3 / 2 / 4;
    }

    & div:last-child {
      grid-area: 2 / 1 / 3 / 4;
    }

    &--1,
    &--2,
    &--3,
    &--4 {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 1;
      border-radius: 7px;
      box-shadow: $shadow-pic;
    }

    &--text {
      display: flex;
      position: absolute;
      inset: 0;
      justify-content: center;
      align-items: center;
      font-family: "Montserrat", sans-serif;
      font-size: 1.8rem;
      font-weight: 400;
      text-align: center;
      border-radius: 7px;
      opacity: 0;
      background-color: #e3dad6;
      z-index: 3;
      transition: opacity 0.3s ease-in-out;

      .ourstory__photo--box:hover & {
        opacity: 0.8;
      }
    }
  }

  &__textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 0 8rem;

    @media (max-width: 576px) {
      padding: 0;
    }

    @media (max-width: 1366px) {
      order: 1;
      gap: 2rem;
      margin-bottom: 4rem;
    }

    &--heading {
      @include heading;
      margin-top: 3rem;
      font-size: 13rem;

      @media (max-width: 1024px) {
        font-size: 8rem;
      }

      @media (max-width: 576px) {
        font-size: 6rem;
      }
    }

    &--text {
      @include story-text;
      padding: 1rem;
    }
  }
}
