@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@mixin background-foto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  object-fit: cover; 
  z-index: -1; 
}
@mixin section-setup {
  height: 100vh;
  width: 100vw;
  position: relative;
}
